# Terraform files
*.tfstate
*.tfstate.*
*.tfplan
*.tfplan.*
.terraform/
.terraform.lock.hcl

# Sensitive variable files
terraform.tfvars
*.auto.tfvars
*.auto.tfvars.json

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files except for example files
*.tfvars
!terraform.tfvars.example

# Include override files you do wish to add to version control
# *.tf.override
# *.tf.override.json

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
# example: *tfplan*

# Ignore CLI configuration files
.terraformrc
terraform.rc